<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MontserProject</display-name>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.monsterProject.servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.monsterProject.servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.monsterProject.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
     <servlet-name>Menu</servlet-name>
    <servlet-class>com.monsterProject.servlets.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>RestrictionFilter</filter-name>
    <filter-class>com.monsterProject.filters.RestrictionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilter</filter-name>
    <url-pattern>/restreint/*</url-pattern>
  </filter-mapping>
 
  <servlet>  
    <servlet-name>TextEditor</servlet-name>
    <servlet-class>com.monsterProject.servlets.TextEditor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextEditor</servlet-name>
    <url-pattern>/textEdit</url-pattern>
  </servlet-mapping>
</web-app>